.calculator {
    width: 250px;
    margin: 0 auto;
    border: 2px solid #d834db; /* Change the border color */
    padding: 10px;
    text-align: right;
    background-color: #f2f2f2; /* Change the background color */
    color: #333; /* Change the text color */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #db3434; /* Change the button background color */
    color: #ffffff; /* Change the button text color */
    border: none; /* Remove button border */
}

#display {
    width: 100%;
    background-color: #ddd; /* Change the display background color */
    color: #333; /* Change the display text color */
}

