body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
}

section {
    padding: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

.project {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
